In [25]:
!pip install xlrd
!pip install pyspark
!pip install pandas

Requirement already satisfied: xlrd in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (2.0.1)
Requirement already satisfied: pyspark in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: pandas in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\pytorch\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [26]:
import pandas as pd
import xlrd

In [27]:
wb = xlrd.open_workbook('vendas-combustiveis-m3.xls')

In [28]:
sheet_names = [name for name in wb.sheet_names() if name != 'Plan1' and name !='Sheet1']

In [29]:
raw_data = pd.read_excel('vendas-combustiveis-m3.xls', sheet_name='Sheet1')
for sheet in sheet_names:
    raw_data = pd.concat([raw_data,pd.read_excel('vendas-combustiveis-m3.xls', sheet_name=sheet)], axis=0)

In [30]:
raw_data.dtypes

COMBUSTÍVEL     object
ANO              int64
REGIÃO          object
ESTADO          object
UNIDADE         object
Jan            float64
Fev            float64
Mar            float64
Abr            float64
Mai            float64
Jun            float64
Jul            float64
Ago            float64
Set            float64
Out            float64
Nov            float64
Dez            float64
TOTAL          float64
dtype: object

In [31]:
raw_data.head(20)

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,9563.263,11341.229,9369.746,10719.983,11165.968,12312.451,11220.970,12482.281,13591.122,11940.570,11547.576,10818.094,136073.253
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,3065.758,3495.290,2946.930,3023.920,3206.930,3612.580,3264.460,3835.740,3676.571,3225.610,3289.718,3358.346,40001.853
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,17615.604,20258.200,18741.344,19604.023,20221.674,20792.616,19912.898,21869.338,21145.643,20633.175,20766.918,21180.919,242742.352
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,3259.300,3636.216,3631.569,3348.416,3394.016,4078.616,3346.616,4029.900,4358.516,3716.032,3200.400,3339.332,43338.929
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,28830.479,32297.047,27310.979,29396.384,26511.009,36553.250,31807.840,31009.972,29755.907,28661.951,28145.784,29294.796,359575.398
5,GASOLINA C (m3),2000,REGIÃO NORTE,AMAPÁ,m3,3456.350,4092.250,3395.600,3613.700,3533.050,4387.100,3541.000,4096.700,4374.200,3917.750,3779.900,4068.216,46255.816
6,GASOLINA C (m3),2000,REGIÃO NORTE,TOCANTINS,m3,6961.518,7027.916,6616.280,6699.691,7174.920,8479.580,8046.450,7734.340,8267.903,7398.315,7153.283,7522.171,89082.367
7,GASOLINA C (m3),2000,REGIÃO NORDESTE,MARANHÃO,m3,16751.080,17985.405,15357.750,15875.728,16719.970,19185.495,18027.960,18185.910,19684.360,17944.756,17643.608,17730.675,211092.697
8,GASOLINA C (m3),2000,REGIÃO NORDESTE,PIAUÍ,m3,8452.200,9584.700,7626.110,8282.350,9638.450,10861.400,10473.450,10857.385,11773.193,10630.465,10592.222,10952.369,119724.294
9,GASOLINA C (m3),2000,REGIÃO NORDESTE,CEARÁ,m3,38492.506,40179.297,37092.083,36847.944,39146.176,41110.491,38988.768,39539.664,41027.530,39412.808,38923.274,40867.267,471627.808
10,GASOLINA C (m3),2000,REGIÃO NORDESTE,RIO GRANDE DO NORTE,m3,19130.200,18901.670,17949.950,17620.600,18024.050,19198.350,16607.650,19082.537,19266.204,18467.781,18534.865,19630.397,222414.254
11,GASOLINA C (m3),2000,REGIÃO NORDESTE,PARAÍBA,m3,20166.052,20266.851,17760.866,18774.200,19128.150,18352.350,15439.800,16998.465,18352.772,17453.257,18325.781,19422.052,220440.596
12,GASOLINA C (m3),2000,REGIÃO NORDESTE,PERNAMBUCO,m3,51905.707,62859.575,51836.615,52069.116,54715.623,51551.630,43244.780,45798.134,47324.825,46358.883,49191.749,52270.868,609127.505
13,GASOLINA C (m3),2000,REGIÃO NORDESTE,ALAGOAS,m3,14001.150,13998.008,12592.121,13921.150,13962.816,13676.400,12461.124,13174.120,14419.916,13613.576,13934.106,14793.822,164548.309
14,GASOLINA C (m3),2000,REGIÃO NORDESTE,SERGIPE,m3,12292.884,13170.942,12177.374,11931.134,12751.083,12999.466,11471.100,12407.150,12762.904,12436.107,12044.863,12707.571,149152.578
15,GASOLINA C (m3),2000,REGIÃO NORDESTE,BAHIA,m3,79545.219,81350.125,73081.355,72319.496,74122.654,82607.784,74717.746,78765.903,79296.130,76163.319,73630.193,81414.030,927013.954
16,GASOLINA C (m3),2000,REGIÃO SUDESTE,MINAS GERAIS,m3,182555.481,195290.073,181880.336,193518.502,194328.450,211011.796,184604.726,190733.143,198022.385,197289.300,191359.240,203730.277,2324323.709
17,GASOLINA C (m3),2000,REGIÃO SUDESTE,ESPÍRITO SANTO,m3,43744.621,45926.085,42766.428,48544.384,52672.001,58173.434,33076.898,32311.973,34425.525,34969.853,33811.764,36915.407,497338.373
18,GASOLINA C (m3),2000,REGIÃO SUDESTE,RIO DE JANEIRO,m3,152471.323,154445.574,137874.316,142844.469,133011.979,157785.971,154662.820,162775.786,159455.064,170050.562,153214.082,169155.095,1847747.041
19,GASOLINA C (m3),2000,REGIÃO SUDESTE,SÃO PAULO,m3,579928.009,643248.094,605500.410,618650.177,614461.497,652318.912,575302.161,598991.152,603057.697,652425.419,627900.045,656697.245,7428480.818

In [32]:
raw_data.columns

Index(['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE', 'Jan', 'Fev',
       'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez',
       'TOTAL'],
      dtype='object')

In [33]:
raw_data['COMBUSTÍVEL'].unique()

array(['GASOLINA C (m3)', 'GLP (m3)', 'ETANOL HIDRATADO (m3)',
       'ÓLEO COMBUSTÍVEL (m3)', 'ÓLEO DIESEL (m3)',
       'QUEROSENE DE AVIAÇÃO (m3)', 'QUEROSENE ILUMINANTE (m3)',
       'GASOLINA DE AVIAÇÃO (m3)', 'ÓLEO DIESEL S-10 (m3)',
       'ÓLEO DIESEL S-500 (m3)', 'ÓLEO DIESEL S-1800 (m3)',
       'ÓLEO DIESEL MARÍTIMO (m3)', 'ÓLEO DIESEL (OUTROS ) (m3)'],
      dtype=object)

In [34]:
raw_data.groupby(['ANO', 'ESTADO']).sum().reset_index()

,ANO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,2000,ACRE,2.475187e+04,2.578155e+04,2.344038e+04,2.176956e+04,2.661657e+04,2.496921e+04,2.452993e+04,2.692075e+04,2.707844e+04,27040.539182,26737.058818,26325.864818,3.059617e+05
1,2000,ALAGOAS,5.771099e+04,5.628728e+04,5.263487e+04,5.042572e+04,5.088911e+04,4.774658e+04,4.830343e+04,5.095434e+04,5.336608e+04,58093.188501,61483.884937,63634.663228,6.515301e+05
2,2000,AMAPÁ,1.803994e+04,1.662104e+04,1.761140e+04,1.614586e+04,1.693510e+04,1.824817e+04,1.683318e+04,1.683280e+04,1.703676e+04,18786.915273,19568.919091,19511.817909,2.121719e+05
3,2000,AMAZONAS,1.176614e+05,1.160235e+05,1.159105e+05,1.019148e+05,1.137488e+05,9.841554e+04,1.079786e+05,1.035702e+05,1.114696e+05,118439.439946,112199.159360,116595.369148,1.333927e+06
4,2000,BAHIA,3.606572e+05,3.802990e+05,3.514242e+05,3.449554e+05,3.508398e+05,3.620075e+05,3.545066e+05,3.765874e+05,3.573044e+05,364844.011952,357017.536293,359504.023859,4.319947e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2020,RORAIMA,8.912349e+04,9.369582e+04,9.890595e+04,8.498768e+04,8.269325e+04,7.503909e+04,8.545504e+04,8.598907e+04,9.478630e+04,0.000000,0.000000,0.000000,7.906757e+05
563,2020,SANTA CATARINA,7.536275e+05,7.213423e+05,6.778189e+05,5.981712e+05,6.489164e+05,6.582252e+05,7.151091e+05,7.084364e+05,7.444484e+05,0.000000,0.000000,0.000000,6.225981e+06
564,2020,SERGIPE,1.038636e+05,9.514478e+04,8.975558e+04,8.091134e+04,8.349088e+04,8.716454e+04,9.273431e+04,9.492638e+04,9.855596e+04,0.000000,0.000000,0.000000,8.265474e+05
565,2020,SÃO PAULO,3.930564e+06,3.850056e+06,3.806061e+06,3.168039e+06,3.395883e+06,3.665502e+06,4.108622e+06,4.033383e+06,4.177270e+06,0.000000,0.000000,0.000000,3.413535e+07
566,2020,TOCANTINS,1.909702e+05,2.100870e+05,2.204020e+05,1.900628e+05,2.070052e+05,2.260930e+05,2.567697e+05,2.460817e+05,2.493004e+05,0.000000,0.000000,0.000000,1.996772e+06

In [35]:
raw_data.groupby(['ANO', 'ESTADO', 'COMBUSTÍVEL']).sum()

                                                   Jan           Fev  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)        501.460000    453.620000
               GASOLINA C (m3)             3065.758000   3495.290000
               GASOLINA DE AVIAÇÃO (m3)      45.450000     30.300000
               GLP (m3)                    1959.303636   2216.092727
               QUEROSENE DE AVIAÇÃO (m3)   1154.561000   1250.719000
...                                                ...           ...
2020 TOCANTINS ÓLEO DIESEL (m3)           74915.360000  85914.160000
               ÓLEO DIESEL MARÍTIMO (m3)      0.000000      0.000000
               ÓLEO DIESEL S-10 (m3)      41966.810000  47569.530000
               ÓLEO DIESEL S-1800 (m3)        0.000000      0.000000
               ÓLEO DIESEL S-500 (m3)     32948.550000  38344.630000

                                                   Mar           Abr  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)        676.230000    677.570000
               GASOLINA C (m3)             2946.930000   3023.920000
               GASOLINA DE AVIAÇÃO (m3)      45.450000     30.300000
               GLP (m3)                    2304.509091   2189.572727
               QUEROSENE DE AVIAÇÃO (m3)    812.783000    702.337000
...                                                ...           ...
2020 TOCANTINS ÓLEO DIESEL (m3)           91599.370000  77712.100000
               ÓLEO DIESEL MARÍTIMO (m3)      0.000000      0.000000
               ÓLEO DIESEL S-10 (m3)      51854.580000  43957.020000
               ÓLEO DIESEL S-1800 (m3)        0.000000      0.000000
               ÓLEO DIESEL S-500 (m3)     39744.790000  33755.080000

                                                   Mai           Jun  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)       1466.730000    350.570000
               GASOLINA C (m3)             3206.930000   3612.580000
               GASOLINA DE AVIAÇÃO (m3)      30.300000     60.600000
               GLP (m3)                    2267.374545   2058.098182
               QUEROSENE DE AVIAÇÃO (m3)    964.217000    937.929000
...                                                ...           ...
2020 TOCANTINS ÓLEO DIESEL (m3)           86426.700000  94285.640000
               ÓLEO DIESEL MARÍTIMO (m3)      0.000000      0.000000
               ÓLEO DIESEL S-10 (m3)      50619.840000  57912.029000
               ÓLEO DIESEL S-1800 (m3)        0.000000      0.000000
               ÓLEO DIESEL S-500 (m3)     35806.860000  36373.611000

                                                 Jul            Ago  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)         450.580     602.920000
               GASOLINA C (m3)              3264.460    3835.740000
               GASOLINA DE AVIAÇÃO (m3)       30.160      60.600000
               GLP (m3)                     2199.280    2148.732727
               QUEROSENE DE AVIAÇÃO (m3)    1119.195    1098.881000
...                                              ...            ...
2020 TOCANTINS ÓLEO DIESEL (m3)           107297.750  103669.820000
               ÓLEO DIESEL MARÍTIMO (m3)       0.000       0.000000
               ÓLEO DIESEL S-10 (m3)       66476.570   64805.630000
               ÓLEO DIESEL S-1800 (m3)         0.000       0.000000
               ÓLEO DIESEL S-500 (m3)      40821.180   38864.190000

                                                    Set          Out  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)         530.749000   573.478000
               GASOLINA C (m3)              3676.571000  3225.610000
               GASOLINA DE AVIAÇÃO (m3)       77.687000    46.455000
               GLP (m3)                     2241.696364  2173.758182
               QUEROSENE DE AVIAÇÃO (m3)    1046.794000  1061.304000
...                                                 ...          ...
2020 TOCANTINS ÓLEO DIESEL (m3)           104025.150000     0.000000
               ÓLEO DIESEL MARÍTIMO (m3)       0.000000     0.000000
               ÓLEO DIESEL S-10 (m3)       64328.400000     0.000000
               ÓLEO DIESEL S-1800 (m3)         0.000000     0.000000
               ÓLEO DIESEL S-500 (m3)      39696.750000     0.000000

                                                  Nov          Dez  \
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)       304.511000   565.885000
               GASOLINA C (m3)            3289.718000  3358.346000
               GASOLINA DE AVIAÇÃO (m3)      3.525000     2.984000
               GLP (m3)                   2372.981818  2197.781818
               QUEROSENE DE AVIAÇÃO (m3)  1417.661000  1404.932000
...                                               ...          ...
2020 TOCANTINS ÓLEO DIESEL (m3)              0.000000     0.000000
               ÓLEO DIESEL MARÍTIMO (m3)     0.000000     0.000000
               ÓLEO DIESEL S-10 (m3)         0.000000     0.000000
               ÓLEO DIESEL S-1800 (m3)       0.000000     0.000000
               ÓLEO DIESEL S-500 (m3)        0.000000     0.000000

                                                  TOTAL
ANO  ESTADO    COMBUSTÍVEL
2000 ACRE      ETANOL HIDRATADO (m3)        7154.303000
               GASOLINA C (m3)             40001.853000
               GASOLINA DE AVIAÇÃO (m3)      463.811000
               GLP (m3)                    26329.181818
               QUEROSENE DE AVIAÇÃO (m3)   12971.313000
...                                                 ...
2020 TOCANTINS ÓLEO DIESEL (m3)           825846.050000
               ÓLEO DIESEL MARÍTIMO (m3)       0.000000
               ÓLEO DIESEL S-10 (m3)      489490.409000
               ÓLEO DIESEL S-1800 (m3)         0.000000
               ÓLEO DIESEL S-500 (m3)     336355.641000

[5616 rows x 13 columns]

In [36]:
df = pd.melt(raw_data, id_vars=['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE',], value_vars=['Jan', 'Fev',
       'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'], var_name='MES', value_name='VOLUME')

In [37]:
map_mes = {}
count = 1
for i in ['Jan', 'Fev',
       'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']:
    map_mes[i] = count
    count += 1

df['MES'] = df['MES'].map(map_mes)

In [38]:
df['year_month'] =  df.agg('01/{0[MES]}/{0[ANO]}'.format, axis=1)

In [39]:
df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,MES,VOLUME,year_month
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,1,9563.263,01/1/2000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,1,3065.758,01/1/2000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,1,17615.604,01/1/2000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,1,3259.300,01/1/2000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,1,28830.479,01/1/2000
...,...,...,...,...,...,...,...,...
67387,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,PARÁ,m3,12,NaN,01/12/2020
67388,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RORAIMA,m3,12,NaN,01/12/2020
67389,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,AMAZONAS,m3,12,NaN,01/12/2020
67390,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,ACRE,m3,12,NaN,01/12/2020
67391,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,12,NaN,01/12/2020

In [40]:
df['year_month'] = pd.to_datetime(df['year_month'], format='%d/%m/%Y')

In [41]:
df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,MES,VOLUME,year_month
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,1,9563.263,2000-01-01
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,1,3065.758,2000-01-01
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,1,17615.604,2000-01-01
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,1,3259.300,2000-01-01
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,1,28830.479,2000-01-01
...,...,...,...,...,...,...,...,...
67387,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,PARÁ,m3,12,NaN,2020-12-01
67388,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RORAIMA,m3,12,NaN,2020-12-01
67389,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,AMAZONAS,m3,12,NaN,2020-12-01
67390,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,ACRE,m3,12,NaN,2020-12-01
67391,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,12,NaN,2020-12-01

In [42]:
df['ANO'][0]

2000